<mat-card>
  <mat-toolbar color="primary"> Cursos Disponíveis </mat-toolbar>
  <div *ngIf="cursos$ | async as cursos; else templateCarregando">
    <table mat-table [dataSource]="cursos" class="mat-elevation-z8">
      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome do Curso</th>
        <td mat-cell *matCellDef="let curso">{{ curso.nome }}</td>
      </ng-container>

      <!-- Categoria Column -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let curso">
          <mat-icon
            aria-hidden="false"
            aria-label="Categoria do Curso"
            matTooltip="{{ curso.categoria }}"
          >
            {{ curso.categoria | categoria }}
          </mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <ng-template #templateCarregando>
    <div class="carregando-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
